@(message: String, json: play.api.libs.json.JsValue)

@main(message) {
<header class='g'>
  <div class='wrap'>
    <h1><a href='/'>ふと思ったことメディア（作成中）</a></h1>
  </div>
</header>
<div class='gradation-bar'></div>

<main ng-app class='container'>
  <section>
  <!--
    <article>
      <header>チューリップ</header>
      <main>
        <i class='img' style='background-image: url("https://farm3.staticflickr.com/2901/14053822803_b2f446ea3b_h.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        padding-bottom: 66.25%;'></i>
      </main>
      <footer>2014/04/27</footer>
    </article>
    -->

    <article>
      <header><h1>バーニャカウダってUIはいいけど、UXはあれよな</h1></header>
      <main>
        <p>バーニャカウダってUIはいいとおもう</p>
        <p>バーニャカウダって飛び跳ねたり、冷めたりするからUXはあれよなって話</p>
      </main>
      <footer><time>2014/05/08</time></footer>
    </article>

    <article>
      <header><h1>youtube引用</h1></header>
      <main>
        <iframe width="280" src="//www.youtube.com/embed/W-TE_Ys4iwM" frameborder="0" allowfullscreen></iframe>
      </main>
      <footer><time>2014/05/02</time></footer>
    </article>

    <article>
      <header><h1>twitter引用</h1></header>
      <main>
        <blockquote class="twitter-tweet" lang="ja"><p>字もバランスでデザインなはずなのに字汚いです、、、</p>&mdash; ユミソラ₍ᐢ ᐛ ᐢ₎JS講座6月開講 (@@YumiSora) <a href="https://twitter.com/YumiSora/statuses/464053161490010112">2014, 5月 7</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </main>
      <footer><time>2014/04/27</time></footer>
    </article>

  </section>

<!--
  <label>Name:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{yourName}}!</h1>
  -->
</main>

<footer class='g'>
  <address>
    <p class="copyright">Copyright 2014-2014. All Rights Reserved.</p>
    <p class="rights">サイト内の文章、画像などの著作物は著者個人に属します。文章・写真などの複製、無断転載を禁止します。</p>
  </address>
</footer>
}
